.wrapper {
  margin: 0 auto;
  width: 800px;
}

.wrapper_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.wrapper_form__form {
  width: 50%;
}

.wrapper_form__input,
.wrapper_form__select {
  margin: 10px 0px;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 25px;
  border-radius: 5px;
}

.wrapper_form__button {
  width: 120px;
  height: 30px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  border: solid;
}

.wrapper_form__button:hover {
  background: black;
  color: white;
  border-radius: 25% 10%;
  cursor: pointer;
}

p {
  color: red;
}

.file_input {
  padding: 10px 0;
}
