.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-number {
  font-size: 20px;
  margin-right: 10px;
  border: solid;
  border-width: 2px;
}

.page-nav img {
  width: 20px;
  height: 20px;
}

.active {
  background-color: red;
}

.page-nav {
  font-size: 20px;
  margin-right: 10px;
}

.label {
  margin-left: 10px;
}

.disabled {
  cursor: unset;
}
