.checkboxText {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.wrapper_master_registration__form__button {
    width: 120px;
    height: 30px;
    background:white;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    border: solid;
}

.wrapper_master_registration__form__button-disabled {
  width: 120px;
  height: 30px;
  background:white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  border: solid;
}

.wrapper_master_registration__form__button:hover {
    background: black;
    color: white;
    border-radius: 25% 10%;
    cursor: pointer;
}
