.info {
  font-size: 30px;
}

.wrapper_controller__master {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.controller_master__input, .controller_master__select {
  margin: 10px 0;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  font-size: 25px;
  border-radius: 5px;
}

.wrapper_controller__master__form {
  width: 50%
}

.onsubmit_button {
  width: 120px;
  height: 30px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  border: solid;
}

.onsubmit_button:hover {    
background: black;
color: white;
border-radius: 25% 10%;
cursor: pointer;
}
