#root {
  height: 100vh;
}

.warapper_order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_order__table {
  width: 100%;
}

.table_link__order {
  border: solid;
  width: 5%;
}

.table_block_id__order {
  height: 10px;
  border: solid;
  width: 3%;
}

.table_block_name__master-orders {
  width: 8%;
  border: solid;
}
.link_update__master-disabled {
  width: 100%;
  color: black;
  font-size: 20px;
  text-decoration: none;
  cursor: auto;
}

.link_update__master:hover {
  background-color: black;
  color: white;
  border-radius: 25% 10%;
}

.link_create__order {
  color: black;
  font-size: 20px;
  text-decoration: none;
  border: solid;
}

.link_update__order {
  width: 100%;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.table_link_master {
  border: solid;
  width: 5%;
}

.table_link__order:hover {
  background-color: black;
  color: white;
  border-radius: 25% 10%;
}

.next_button,
.after_button {
  width: 120px;
  height: 30px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  border: solid;
}

.next_button:disabled:hover,
.after_button:disabled:hover {
  width: 120px;
  height: 30px;
  background: white;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  border: solid;
  cursor: auto;
}

.next_button:hover,
.after_button:hover {
  background: black;
  color: white;
  border-radius: 25% 10%;
  cursor: pointer;
}
